:root {
  --white: #ffffff;
  --gray: #DCDCDC;
  --black: #000000;
  --primary-color: #DCDCDC;
  --secondary-color: #DCDCDC;
  --dark-secondary-color: #DCDCDC;
  --tertiary-color: #DCDCDC;
  --light-tertiary-color: #DCDCDC;
  --text-color: #DCDCDC;

  --font-family: 'DM Sans', sans-serif;
}
